body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #ff9800;
    color: white;
    padding: 40px;
    text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkgreen;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.product-details {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-image img {
  width: 300px;
  border-radius: 10px;
}

.product-info {
  max-width: 400px;
}

.buy-btn {
  background: green;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  margin-top: 10px;
}

.fav-btn {
  background: pink;
  border: none;
  padding: 10px;
  width: 100%;
}
body {
    background-image: url("image/StockCake-Shopping_Cart_Luxury-1418332-standard.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .search-box {
  text-align: center;
  margin: 20px;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product h3 {
  font-size: clamp(16px, 2vw, 20px);
}

.product p {
  font-size: clamp(14px, 2vw, 18px);
}
}